{% extends 'base.html' %}
{% load staticfiles %}

    {% block title %}Modificar Contraseña {{ user.username }}{% endblock %}
    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Los datos ingresados son erróneos.{{ form.errors }}
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}
    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">Cambiar contraseña</h1>
        </div>
        <div class="panel-body">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <form action="" role="form" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_old_password">Contraseña Antigua</label>
                        <input class="form-control" id="id_old_password" type="password">
                    </div>

                    {{ form.as_table }}

                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <a href="{% url 'changeuser' %}" class="btn btn-lg btn-warning" type="submit">Cancelar</a>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-lg btn-danger" type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-5 col-md-5 col-sm-5 visible-lg visible-md visible-sm">
                {# TODO Espacio utilizable despues de los campos requeridos, se puede mostrar cualquier informacion #}
            </div>
    {% endblock panelCentral %}