{% extends 'base.html' %}
{% load staticfiles %}

    {% block title %}Modificar Contraseña {{ user.username }}{% endblock %}
    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.errors }}
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}

    {% block breadcrumbs %}{% endblock breadcrumbs %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">Cambiar contraseña</h1>
        </div>
        <div class="panel-body">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <form class="form-horizontal" role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_old_password" class="col-sm-5 control-label">Contraseña Antigua</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="id_old_password" name="old_password" type="password" placeholder="Contraseña Actual">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password1" class="col-sm-5 control-label">Contraseña Nueva</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="id_new_password1" name="new_password1" type="password" placeholder="Una nueva contraseña">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password2" class="col-sm-5 control-label">Confirmación</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="id_new_password2" name="new_password2" type="password" placeholder="Repita la nueva contraseña">
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <a href="{% url 'changeuser' %}" class="btn btn-lg btn-warning" type="submit">Cancelar</a>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-lg btn-success" type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-5 col-md-5 col-sm-5 visible-lg visible-md visible-sm">
            </div>
    {% endblock panelCentral %}