{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block title %}Modificar Usuario{% endblock %}
    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Los datos ingresados son erróneos.
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}

    {% block breadContent %}

    {% endblock breadContent %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">Datos personales</h1>
        </div>
        <div class="panel-body">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% form userForm using "formsLayouts/div.html" %}
                    <div class="form-group">
                        <a id="changePass" href="{% url 'changepass' %}" class="btn btn-lg btn-danger btn-block">Cambiar contraseña</a>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <a href="{% url 'main' %}" class="btn btn-lg btn-warning" type="submit">Cancelar</a>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-lg btn-success" type="submit">Guardar cambios</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-5 col-md-5 col-sm-5 visible-lg visible-md visible-sm">
            </div>
        </div>
    {% endblock %}>