{% extends 'base.html' %}
{% load staticfiles %}

    {% block title %}Crear Usuario{% endblock %}
    {% block mainBody %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Los datos ingresados son erróneos.
                </div>
            </div>
        {% endif %}
        <div class="container col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <h1 class="intro"><span class="glyphicon glyphicon-off"></span> Crear Usuario <small>zarpm</small></h1>
                    </div>
                    <form action="" class="form-signin" role="form" method="post">
                        {% csrf_token %}
                        <input name="username" type="text" class="form-control" placeholder="Usuario" required autofocus>
                        <input name="password1" type="password" class="form-control" placeholder="Ingrese la contraseña" required>
                        <input name="password2" type="password" class="form-control" placeholder="Re-ingrese la contraseña" required>
                        <button class="btn btn-lg btn-gray btn-block" type="submit">Crear</button>
                        <input type="hidden" name="next" value="{% url 'base' %}">
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}