{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Usuarios del Sistema{% endblock %}
{% block pageName %}Usuarios{% endblock %}

{% block mainBody %}
    <div class="container" style="padding-top: 1%">
        <div class="panel panel-default col-lg-offset-1 col-lg-10" style="padding-top: 1%">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h1>Usuarios</h1></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
{#                            <th>  </th>#}
                        </tr>
                    </thead>
                    <tbody>
                            {% for user in usuarios %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
{#                                    <td><button type="button" class="btn btn-default">Modificar</button> </td>#}
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}