{% extends 'base.html' %}
{% load staticfiles %}

{% block cssAdicional %}
    <link href="{% static "bootstrap/css/bootstrap-switch.css" %}" rel="stylesheet">
{% endblock %}

{% block breadContent %}
    <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
    <li class="active">Lista de Usuarios</li>
{% endblock breadContent %}

{% block title %}Usuarios del Sistema{% endblock %}

{% block padTop %}{% endblock %}
{% block panelCentral %}
    <div class="panel-heading">
        <h1 style="display: inline-block">Usuarios</h1>
        <span class="glyphicon glyphicon-search disable" id="searchIcon" style="font-size: x-large; padding-left: 1em"></span>
        <div id="searchDiv" class="input-group" style="display: none">
            <input id="searchInput" class="form-control" placeholder="Filter" hidden="hidden"/>
            <span id="searchHelp" class="input-group-addon" data-toggle="tooltip" title="Usuarios Activos o Inactivos [ :activo | :inactivo ]">?</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="text-info">
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Activo</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody id="rows">
                    {% for user in usuarios %}
                        <tr id="{{ user.id }}">
                            <td class="datos">{{ user.username }}</td>
                            <td class="datos">{{ user.get_full_name }}</td>
                            <td class="estado">
                                <input type="checkbox" name="usuario_activo" id="{{ user.id }}"
                                       data_user_id="{{ user.id }}" data_url="{% url 'userlist' %}"
                                       {% if user.is_active %} checked {% endif %} />
                            </td>
                            <td><a href="{% url 'changeanyuser' user.id %}" class="btn btn-info"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock panelCentral%}
{% block botonesBottom %}
    <a href='/main/' class="btn btn-lg btn-warning" role="button">Atrás</a>
    <a href='/createuser/' class="btn btn-lg btn-success" role="button">Nuevo Usuario</a>
{% endblock botonesBottom %}
{% block jsAdicional %}
    <script src="{% static "bootstrap/js/tooltips.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-switch.min.js" %}"></script>
    <script src="{% static "bootstrap/js/jquery.cookie.js" %}"></script>
    <script src="{% static "bootstrap/js/jquery-ui-1.10.4.min.js" %}"></script>
    <script src="{% static "bootstrap/js/userList.js" %}"></script>
{% endblock %}