{% extends 'base.html' %}
{% load staticfiles %}

{% block cssAdicional %}
    <link href="{% static "bootstrap/css/bootstrap-switch.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Usuarios del Sistema{% endblock %}
{% block pageName %}Usuarios{% endblock %}

{% block mainBody %}
    <div class="container col-lg-offset-1 col-lg-10 col-xs-12" style="padding-top: 2%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 style="display: inline-block">Usuarios</h1>
                <span class="glyphicon glyphicon-search disable" id="searchIcon" style="font-size: x-large; padding-left: 1em"></span>
                <input id="searchInput" class="form-control" style="display: inline-block" placeholder="Filter"/>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-info">
                                <th>Username</th>
                                <th>Nombre</th>
                                <th>Activo</th>
                            </tr>
                        </thead>
                        <tbody id="rows">
                            {% for user in usuarios %}
                                <tr id="{{ user.id }}">
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.get_full_name }}</td>
                                    <td>
                                        <input type="checkbox" name="usuario_activo" id="{{ user.id }}"
                                               data_user_id="{{ user.id }}" data_url="{% url 'userlist' %}"
                                               {% if user.is_active %} checked {% endif %} />
                                        {{ request.session.name }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsAdicional %}
    <script src="{% static "bootstrap/js/bootstrap-switch.min.js" %}"></script>
    <script src="{% static "bootstrap/js/jquery.cookie.js" %}"></script>
    <script src="{% static "bootstrap/js/jquery-ui-1.10.4.min.js" %}"></script>
    <script src="{% static "bootstrap/js/userList.js" %}"></script>
{% endblock %}