                        {% load i18n %}
                        {% load url from future %}
                        {% autoescape off %}

                        {% blocktrans %}
                        Usted ha recibido este correo por que ha solicitado reestablecer su contraseña en el Sistema
                        ZARpm. Si Ud. no ha solicitado este cambio favor ignore el mensaje y verifique la seguridad de su correo electrónico.
                        Disculpe las molestias.
                        {% endblocktrans %}

                        {% trans "Por favor ingrese al siguiente enlace para reestablecer su contraseña:" %}

                        {% block reset_link %}
                        {{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
                        {% endblock %}

                        {% trans "Por favor realice una copia y guardelo en un lugar seguro" %}

                        {% blocktrans %}The ZARpm team{% endblocktrans %}

                        {% endautoescape %}