{% extends 'base.html' %}
{% load staticfiles %}

{% block cssAdicional %}
    <link href="{% static "bootstrap/css/bootstrap-switch.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Roles del Proyecto - {{ project.nombre }}{% endblock %}
{% block pageName %}Roles - Proyecto: {{ proyect.nombre }}{% endblock %}

{% block mainBody %}
    <div class="container col-lg-offset-1 col-lg-10 col-xs-12" style="padding-top: 2%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 style="display: inline-block">Roles - Proyecto: {{ proyect.nombre }}</h1>
                <span class="glyphicon glyphicon-search" style="font-size: x-large"></span>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-info">
                                <th>Nombre</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rol in roles %}
                                <tr id="{{ rol.id }}">
                                    <td><a href='{% url 'administrarRolesPermisos.views.changeRole' project.id rol.id %}'>{{rol.nombre}}</a></td>
                                    <td>
                                        <a href='/asignrole/{{ project.id }}/{{ rol.id }}' class="btn btn-sm btn-gray btn-lg" role="button">Asignar</a>
                                        <a href='/deleterole/{{ project.id }}/{{ rol.id }}' class="btn btn-sm btn-danger btn-lg" role="button">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href='/createrole/{{ project.id }}' class="btn btn-sm btn-gray btn-lg" role="button">Nuevo Rol</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsAdicional %}
    <script src="{% static "bootstrap/js/bootstrap-switch.js" %}"></script>
    <script src="{% static "bootstrap/js/jquery.cookie.js" %}"></script>
    <script src="{% static "bootstrap/js/userlist.js" %}"></script>
{% endblock %}