<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title> Reporte: {{ proyecto.nombre }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body lang="es-ES" dir="ltr">
    <p align="center" style="margin-top: 0.07cm; margin-bottom: 0.07cm; line-height: 100%"> <font size="6"> Facultad Politécnica - UNA </font> </p>
    <p align="center" style="margin-top: 0.07cm; margin-bottom: 0.07cm; line-height: 100%"> <font size="5"> Ingeniería de Software II </font></p>
    <p align="center" style="margin-top: 0.07cm; margin-bottom: 0.07cm; line-height: 100%"> <font size="4">ZAR Project Manager </font> </p>
    <br>

    <p style="margin-top: 0.85cm; margin-bottom: 0.28cm; margin-left: 1.0cm; text-transform: uppercase; line-height: 100%">
        <font color="#7e97ad"><font face="Calibri, sans-serif"><font size="6" style="font-size: 24pt">Reporte: {{ proyecto.nombre }} </font></font></font></p>

    <p style=" margin-left: 1.0cm; margin-right: 1.5cm; text-indent: -0.3cm; margin-top: 0.64cm; margin-bottom: 0.42cm; background: #7e97ad; border: 1px solid #7e97ad; padding: 0.14cm 0.51cm; text-transform: uppercase; line-height: 100%; page-break-inside: avoid; page-break-before: auto; page-break-after: avoid">
        <font color="#ffffff"><font face="Calibri, sans-serif"><font size="4" style="font-size: 11pt">DATOS DEL PROYECTO</font></font></font></p>
    {# DATOS DEL PROYECTO #}
    <table width="649" cellpadding="2" cellspacing="0">
        <col width="171">
        <col width="470">
        <tr valign="bottom">
            <td width="171" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                <p style="margin-left: 1.0cm; margin-top: 0.07cm; text-transform: uppercase"><font size="4" color="#577188"><font face="Calibri, sans-serif">Fecha de Inicio</font></font></p>
            </td>
            <td width="470" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                <p><font size="4"> {{ proyecto.fecha_inicio }}   </font> </p>
            </td>
        </tr>
        <tr valign="bottom">
            <td width="171" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                <p style="margin-left: 1.0cm; margin-top: 0.07cm; text-transform: uppercase"><font size="4" color="#577188"><font face="Calibri, sans-serif">Fecha de Finalizaci&oacute;n </font></font></p>
            </td>
            <td width="470" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                <p><font size="4"> {{ proyecto.fecha_fin }} </font></p>
            </td>
        </tr>
        <tr valign="top">
            <td width="171" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0.05cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
                <p style="margin-left: 1.0cm; margin-top: 0.07cm; text-transform: uppercase"><font size="4" color="#577188"><font face="Calibri, sans-serif">L&iacute;der de Proyecto</font></font></p>
            </td>
            <td width="470" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0.05cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm">
                <p style="margin-top: 0.07cm"><font size="4"> {{ proyecto.lider_proyecto.get_full_name }}</font> </p>
            </td>
        </tr>
    </table>

    {# DESCRIPCION #}
    <p style=" margin-left: 1.0cm; margin-right: 1.5cm;  text-indent: -0.3cm; margin-top: 0.64cm; margin-bottom: 0.42cm; background: #7e97ad; border: 1px solid #7e97ad; padding: 0.14cm 0.5cm; text-transform: uppercase; line-height: 100%; page-break-inside: avoid; page-break-before: auto; page-break-after: avoid">
        <font color="#ffffff"><font face="Calibri, sans-serif"><font size="4" style="font-size: 11pt">DESCRIPCION</font></font></font></p>

    <p style="margin-top: 0.07cm; margin-bottom: 0.07cm; line-height: 100%; margin-left: 1.0cm; margin-right: 1.5cm; text-align: justify"><font size="4"> {{ proyecto.descripcion }} </font></p>

    {# DESARROLLO #}
    <p style=" margin-left: 1.0cm; margin-right: 1.5cm; text-indent: -0.3cm; margin-top: 0.64cm; margin-bottom: 0.42cm; background: #7e97ad; border: 1px solid #7e97ad; padding: 0.14cm 0.51cm; text-transform: uppercase; line-height: 100%; page-break-inside: avoid; page-break-before: auto; page-break-after: avoid">
    <font color="#ffffff"><font face="Calibri, sans-serif"><font size="4" style="font-size: 11pt"> DESARROLLO DEL PROYECTO </font></font></font></p>

    {% for fase, relaciones in items %}
        <p style="margin-top: 0.85cm; margin-bottom: 0.28cm; margin-left: 1.0cm; text-transform: uppercase; line-height: 100%">
        <font color="#7e97ad"><font face="Calibri, sans-serif"><font size="4" style="font-size: 24pt"> Fase: {{ fase.nombre }} </font></font></font></p>

        {# ITEMS #}
        <table class="table" cellpadding="2" cellspacing="0">
        <thead>
            <tr>
                <td width="5%" style=" margin-left: 1.5cm; border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                    <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">
                    <font color="#577188"><font face="Calibri, sans-serif">ID</font></font></p>
                </td>
                <td width="15%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0.05cm">
                    <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">
                    <font color="#577188"><font face="Calibri, sans-serif">NOMBRE</font></font></p>
                </td>
                <td width="30%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                    <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">
                    <font color="#577188"><font face="Calibri, sans-serif">DESCRIPCION</font></font></p>
                </td>
                <td width="15%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                    <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">
                    <font color="#577188"><font face="Calibri, sans-serif">TIPO DE ITEM</font></font></p>
                </td>
                <td width="10%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                    <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">
                    <font color="#577188"><font face="Calibri, sans-serif">RELACIÓN</font></font></p>
                </td>
                <td width="12%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                    <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">
                    <font color="#577188"><font face="Calibri, sans-serif">VERSION</font></font></p>
                </td>
                <td width="10%" style=" margin-right: 1.5cm; border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                    <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">
                    <font color="#577188"><font face="Calibri, sans-serif">COSTO</font></font></p>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for item, padre in relaciones %}
                <tr>
                    <td width="5%" style=" margin-left: 1.5cm; border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                        <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">{{ item.id }}</td>
                    <td width="15%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0.3cm; padding-right: 0.3cm">
                        <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">{{ item.nombre }}</td>
                    <td width="30%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                        <p align="justify" style="margin-top: 0.07cm; text-transform: uppercase">{{ item.descripcion }}</td>
                    <td width="15%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                        <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">{{ item.tipoitem }}</td>
                    <td width="10%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                        <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">
                            {% if padre != None %}
                                {{ padre.nombre }}
                            {% else %}
                                Sin relación
                            {% endif %}
                    </td>
                    <td width="12%" style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                        <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">{{ item.version }}</td>
                    <td width="10%" style=" margin-right: 1.5cm; border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
                    <p align="center" style="margin-top: 0.07cm; text-transform: uppercase">{{ item.costo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

    <p style=" margin-left: 1.0cm; margin-right: 1.5cm; text-indent: -0.3cm; margin-top: 0.64cm; margin-bottom: 0.42cm; background: #7e97ad; border: 1px solid #7e97ad; padding: 0.14cm 0.51cm; text-transform: uppercase; line-height: 100%; page-break-inside: avoid; page-break-before: auto; page-break-after: avoid">
    <font color="#ffffff"><font face="Calibri, sans-serif"><font size="4" style="font-size: 11pt"> OBSERVACIONES </font></font></font></p>

    <p style="margin-top: 0.07cm; margin-bottom: 0.07cm; line-height: 100%; margin-left: 1.0cm"> <font size="4"> {{ proyecto.observaciones }} </font></p>


</body>
</html>