{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}
{% load i18n %}

    {% block cssAdicional %}
        <link href="{% static "bootstrap/css/autocomplete.css" %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/jquery-theme/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/multi-select.css' %}" rel="stylesheet">
    {% endblock cssAdicional %}

    {% block title %}Modificar Proyecto{% endblock %}
    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.errors }}
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}

    {% block breadContent %}
            <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
            <li><a href="{% url 'administrarProyectos.views.workProject' project.id %}">{{ project.nombre }}</a></li>
            <li class="active">Settings</li>
    {% endblock breadContent %}

    {% block panelCentral %}{% block padTop %}{% endblock padTop %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">{{ project.nombre|capfirst }} - Settings</h1>
        </div>
        <div class="panel-body">
            <form role="form" method="post">
                {% csrf_token %}
                <div class="col-lg-4 col-md-4 col-sm-4">
                    {% form form using "floppyforms/layouts/p.html" %}
                        <a href="{% url 'administrarProyectos.views.workProject' project.id %}" class="btn btn-lg btn-warning btn-lg" role="button">Atrás</a>
                        <button class="btn btn-lg btn-success btn-lg" type="submit">Guardar cambios</button>

                </div>
                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-5 col-md-5 col-sm-5">
                    {% form miembrosComiteForm using "formsLayouts/div.html" %}
                </div>
            </form>
        </div>
    {% endblock panelCentral %}

    {% block jsAdicional %}
        <script src="{% static 'bootstrap/js/jquery-ui-1.10.4.min.js' %}" type="application/javascript"></script>
        <script src="{% static 'bootstrap/js/jquery.multi-select.js' %}" type="application/javascript"></script>
        <script src="{% static "bootstrap/js/jquery.autocomplete.min.js" %}"></script>
        <script src="{% static "bootstrap/js/autocomplete.js" %}"></script>
        <script src="{% static "bootstrap/js/changeProjectLeader.js" %}"></script>
    {% endblock jsAdicional %}