{% extends 'base.html' %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

    {% block title %}Proyecto en el Sistema{% endblock %}
    {% block pageName %}Proyectos{% endblock %}

    {% block breadContent %}
        <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
        <li class="active">Proyectos</li>
    {% endblock breadContent %}

    {% block successBlock %}
        {% if exitoCreacion or exitoModif %}
            <div class="container-fluid">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {% if exitoCreacion %}<b>Proyecto <i>{{ proyecto.nombre|capfirst }}</i>:</b> Creado exitosamente. {% endif %}
                    {% if exitoModif %}<b>Proyecto <i>{{ proyecto.nombre|capfirst }}</i>:</b> Configuración actualizada con exito. {% endif %}
                </div>
            </div>
        {% endif %}
    {% endblock successBlock %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading"><h1>Proyectos</h1></div>
        <div class="panel-body">
            {% render_table proyectos %}
        </div>

    {% endblock panelCentral %}
    {% block botonesBottom %}
        <a href="{% url 'autenticacion.views.main' %}" class="btn btn-lg btn-warning">Atrás</a>
        <a href="{% url 'administrarProyectos.views.createProject' %}" class="btn btn-lg btn-success">Proyecto Nuevo</a>
    {% endblock botonesBottom %}