{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block cssAdicional %}
        <link href="{% static 'bootstrap/css/multi-select.css' %}" rel="stylesheet">
    {% endblock cssAdicional %}

    {% block title %}Vincular Usuarios a Proyectos{% endblock %}

    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Los datos ingresados son erróneos.{{ form.errors }}
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}

    {% block breadContent %}
            <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
            <li><a href="{% url 'administrarProyectos.views.workProject' projecto.id %}">{{ projecto.nombre }}</a></li>
            <li class="active">Asignar Usuario</li>
    {% endblock breadContent %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">Asignar usuario - {{ projecto.nombre|capfirst }}</h1>
        </div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <form action="" class="form-signin" role="form" method="post">
                        {% csrf_token %}

                            {% form form using "formsLayouts/div.html" %}
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <a href="{% url 'administrarProyectos.views.workProject' projecto.id %}" class="btn btn-lg btn-warning" type="submit">Cancelar</a>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-lg btn-success btn-lg" type="submit">Guardar cambios</button>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="col-lg4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
                    <table class="table table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-sm-12" style="padding-top: 2%">
                                            <span>Miembros actuales del proyecto</span>
                                        </div>
                                    </div>
                                </th>
{#                                <th>#}
{#                                </th>#}
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuariosVinculados %}
                                <tr class="{% if not usuario.habilitado %} alert-warning {% endif %}
                                    {% if usuario.cod_usuario == proyecto.lider_proyecto %}active{% endif %}">
                                    <td>[{{ usuario.cod_usuario.username }}] - {{ usuario.cod_usuario.get_full_name }}</td>
{#                                    <td class="estado">#}
{#                                        {% if usuario.cod_usuario != proyecto.lider_proyecto %}#}
{#                                            <input type="checkbox" name="usuario_activo_proyecto" id="{{ usuario.cod_usuario.id }}"#}
{#                                                   data_user_id="{{ usuario.cod_usuario.id }}" data_project_id="{{ proyecto.id }}"#}
{#                                                   data_url="{% url 'administrarProyectos.views.workProject' proyecto.id  %}"#}
{#                                                   {% if usuario.habilitado %} checked {% endif %} />#}
{#                                        {% endif %}#}
{#                                    </td>#}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}>
    {% block jsAdicional %}
        <script src="{% static 'bootstrap/js/jquery.multi-select.js' %}" type="application/javascript"></script>
        <script src="{% static 'bootstrap/js/setUserToProject.js' %}" type="application/javascript"></script>
        <script src="{% static "bootstrap/js/bootstrap-switch.min.js" %}"></script>
        <script src="{% static "bootstrap/js/jquery.cookie.js" %}"></script>
        <script src="{% static "bootstrap/js/workProject.js" %}"></script>
    {% endblock jsAdicional %}