{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block title %}Vincular Usuarios a Proyectos{% endblock %}

    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Los datos ingresados son erróneos.{{ form.errors }}
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}

    {% block breadContent %}
            <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
            <li><a href="{% url 'administrarProyectos.views.workProject' project.id %}">{{ project.nombre }}</a></li>
            <li class="active">Asignar Usuario</li>
    {% endblock breadContent %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">Asignar usuario - {{ project.nombre|capfirst }}</h1>
        </div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <form action="" class="form-signin" role="form" method="post">
                        {% csrf_token %}
                        {% form form using "formsLayouts/div.html" %}
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <a href="{% url 'administrarProyectos.views.workProject' project.id %}" class="btn btn-lg btn-warning" type="submit">Cancelar</a>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-lg btn-success btn-lg" type="submit">Guardar cambios</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}>