{% extends 'base.html' %}
{% load staticfiles %}

    {% block title %}Modificar Proyecto{% endblock %}
    {% block errorBlock %}
    {% endblock errorBlock %}

    {% block breadContent %}
        <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
        <li class="active">Nou</li>
    {% endblock breadContent %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">
                {# Información sobre el proyecto: {{ project.nombre|capfirst }}#}
                Aún no
            </h1>
        </div>
        <div class="panel-body">
            <h1 class="text-danger" style="display: inline-block">Sección en desarrollo <span class="glyphicon glyphicon-warning-sign"></span></h1>
        </div>
    {% endblock panelCentral %}>
