{% extends 'base.html' %}
{% load staticfiles %}
{% load guardian_tags %}

    {% block title %}Proyecto: {{ proyecto.nombre }}{% endblock %}
    {% block errorBlock %}
        {% if messages %}
            <div class="container-fluid">
                <div class="alert {% if error == 1 %} alert-danger {% else %} alert-success {% endif %} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}

    {% block breadContent %}
        <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
        <li class="active">{{ proyecto.nombre|capfirst }}</li>
    {% endblock breadContent %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">
                {{ proyecto.nombre|capfirst }} - Área de Trabajo
            </h1>
            <span class="pull-right" style="padding-top: 2%">
                {% if user == proyecto.lider_proyecto %}
                    <a href="{% url 'administrarProyectos.views.workProject' proyecto.id %}" class="btn btn-md btn-primary btn-md" role="button">Vista de Líder</a>
                {% endif %}
            </span>
        </div>
        <div class="list-group-item-info" style="padding-left: 2%; padding-top: 1%; padding-bottom: 1%">
            <b>Descripción:</b> <i>{{ proyecto.descripcion }}</i><br>
            <b>Estado:</b> <i> {{ proyecto.get_estado_display }} </i>
        </div>
        {% if proyecto.estado == 'PEN' %}
            <div class="panel-body">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <img class="media-object" src="{% static "waiting.jpg" %}" width="50%" height="50%" >

                </div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <p>
                        <b><i>El proyecto aún no ha iniciado.</i></b>
                        <br>Por este motivo, no se puede realizar ningún tipo de trabajo sobre el mismo.
                        <br>
                        {% if proyecto.fecha_inicio %}
                            <br>El inicio del mismo está estimado para: <i>{{ proyecto.fecha_inicio }}</i>
                        {% else %}
                            <br>El inicio del mismo aún no se ha estimado.
                        {% endif %}
                        <br>Para mas detalle, contacte al Líder del Proyecto: <b><i>[{{ proyecto.lider_proyecto.username }}] - {{ proyecto.lider_proyecto.get_full_name }}</i></b>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="panel-body">
                {% for fase in fases %}
                    {% get_obj_perms user for fase as "permisosFase" %}
                    {% if forloop.counter0|divisibleby:"3" %}
                        <div class="row">
                    {% endif %}
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="panel {% if fase.estado == 'DES' %}panel-info
                                          {% elif fase.estado == 'PEN' %}panel-warning
                                          {% elif fase.estado == 'FIN' %}panel-success
                                          {% else %}panel-danger{% endif %}">
                            <div class="panel-heading">
                                <b>Fase:</b> {{ fase.nombre|capfirst }}
                            </div>
                            <div class="panel-body">
                                <i><u>Descripción</u></i>
                                <p>{{ fase.descripcion }}</p>
                                <i><u>Estado</u></i>
                                <p>{{ fase.get_estado_display }}</p>

                                <p class="{% if fase.estado == 'DES' %}list-group-item-info
                                          {% elif fase.estado == 'PEN' %}list-group-item-warning
                                          {% elif fase.estado == 'FIN' %}list-group-item-success
                                          {% else %}list-group-item-danger{% endif %}" style="font-size: 11px; line-height: 2">
                                    <b>Lista de ítems:</b>
                                    {% for fase_id, items in itemsPorFase %}
                                        {% if fase.id == fase_id %}
                                            {% if items %}
                                                {% for item in items %}
                                                    <br> + {{ item.nombre }} - <i>({{ item.get_estado_display }})</i>
                                                {% endfor %}
                                            {% else %}
                                                <br> + Aún no se han creado ítems para la fase.
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>

                            <div class="panel-heading">
                                {% if fase.estado == 'DES' %}
                                    <a href="{% url 'administrarFases.views.workphase' fase.id %}" class="btn btn-primary btn-sm">Gestionar Ítems</a>
                                    {% if user == proyecto.lider_proyecto %}
                                        <a href="{% url 'administrarFases.views.finPhase' fase.id %}" class="btn btn-success btn-sm">Fin Fase</a>
                                    {% endif %}
                                    {% if "consultar_Lineas_Base" in permisosFase %}
                                        <a href="{% url 'administrarLineaBase.views.visualizarLB' fase.id %}" class="btn btn-gray btn-sm">Lineas Base</a>
                                    {% endif %}
                                {% else %}
                                    {% if fase.estado != 'PEN' %}
                                        <a href="{% url 'administrarFases.views.workphase' fase.id %}"class="btn btn-primary btn-sm">Ver Ítems</a>
                                    {% endif %}
                                {% endif %}
                                {% if fase.estado == 'REV' %}
                                    {% if user == proyecto.lider_proyecto %}
                                        <a href="{% url 'administrarFases.views.finPhase' fase.id %}" class="btn btn-danger btn-sm">Fin Revisión Fase</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if forloop.last or forloop.counter|divisibleby:"3" %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endif %}
    {% endblock panelCentral %}