{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block title %}Crear Fases{% endblock %}

    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.errors }}
                </div>
            </div>
        {% endif %}
        {% if error %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <p>{{ error }}</p>
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}

    {% block breadContent %}
        <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
        <li><a href="{% url 'administrarProyectos.views.workProject' proyecto.id %}">{{ proyecto.nombre }}</a></li>
        <li class="active">Nueva Fase</li>
    {% endblock breadContent %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">{{ proyecto.nombre }} - Nueva Fase</h1>
        </div>
        <div class="panel-body">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <form action="" class="form-signin" role="form" method="post">
                    {% csrf_token %}
                    {% form form using "formsLayouts/div.html" %}
                    <a href="{% url 'administrarProyectos.views.workProject' proyecto.id %}" class="btn btn-md btn-warning" type="submit">Cancelar</a>

                    <button class="btn btn-md btn-success" type="submit">Crear Fase</button>

                    <a href="{% url 'administrarFases.views.phaseList' proyecto.id %}" class="btn btn-md btn-danger" type="submit">Importar Fase</a>
                </form>
            </div>
        </div>
    {% endblock %}>