{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Fases en el Proyecto {% endblock %}
{% block pageName %}Proyectos{% endblock %}

{% block breadContent %}
    <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
    <li><a href="{% url 'administrarProyectos.views.workProject' project.id %}">{{ project.nombre }}</a></li>
    <li class="active">Importar fase</li>
{% endblock breadContent %}

{% block mainBody %}
    <div class="container col-lg-offset-1 col-lg-10 col-xs-12" style="padding-top: 2%">
        <div class="panel panel-default" style="padding-top: 2%; padding-left: 2%; padding-right: 2%">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h1>Fases</h1></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre de Fase</th>
                            <th>Proyecto</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for phase in phase %}
                            <tr>
                                <td>{{ phase.id }}</td>
                                <td><a href='{% url 'administrarFases.views.changePhase' phase.id %}'>{{phase.nombre}}</a></td>
                                <td>{{ phase.proyecto.nombre }}</td>
                                <td>{{ phase.estado }}</td>
                                <td><a href="/importphase/{{ phase.id }}/{{ project.id }}" class="btn btn-success">Importar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}