{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block title %}Lineas Base{% endblock %}

    {% block breadContent %}
        <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
        <li><a href="{% url 'administrarProyectos.views.vistaDesarrollo' proyecto.id %}">{{ proyecto.nombre }}</a></li>
        <li class="active">Fase: {{ fase.nombre }}</li>
    {% endblock breadContent %}

{% block mainBody %}
    <div class="container col-lg-offset-1 col-lg-10 col-xs-12" style="padding-top: 2%">
        <div class="panel panel-default" style="padding-top: 2%; padding-left: 2%; padding-right: 2%">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h1>Lineas Base: {{ fase.nombre }} </h1></div>
                {# TODO: Encolumnar bien #}
                {% for lineas in lb %}
                <table class="table" style="width: 100%" >
                    <thead>
                        <tr>
                            <th>Nombre del Item</th>
                            <th>Descripción</th>
                            <th>Versión</th>
                            <th>Linea Base</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for item in items %}
                                <tr>
                                {% if item.linea_base_id == lineas.id %}
                                        <td style="width: 20%" ><a href='#'>{{item.nombre}}</a></td>
                                        <td style="width: 60%">{{ item.descripcion }}</td>
                                        <td style="width: 10%">{{ item.version }}</td>
                                        <td style="width: 10%">{{ item.linea_base_id }}</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock mainBody %}