{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} ERROR 404 {% endblock %}

{% block navbar %}{% endblock navbar %}
{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block panelCentral %} {% block padTop %}{% endblock padTop %}

    <div class="panel-heading">
        <h1 class="text-info" style="display: inline-block">ERROR</h1>
    </div>

    <div class="panel-body">

        <div class="col-sm-9">
            <br>
            <p>Lo sentimos. Ha ocurrido un error durante la operación.</p>
            <p>La página a la cual Ud. desea acceder no existe o ha si cambiada.</p>
            <p>Para más consultas favor comunicarse con su Administrador</p>
            <p>Muchas Gracias!</p>
            <br>

        </div>

        <div class="col-sm-3">
            <img src="{% static "oops.jpg" %}" width=100% height=100% >
        </div>
        <a href="{% url "main" %}" class="btn btn-group-sm btn-danger ">Volver a la página principal</a>
    </div>

{% endblock panelCentral %}