{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Página Principal{% endblock %} - ZARpm</title>

        <!-- CSS -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/styles.css" %}" rel="stylesheet">
        {% block cssAdicional %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}" />
    </head>

    <body>
        {% block body %}
            {% block navbar %}
                <nav class="navbar-inverse navbar-default navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-example-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="{% url "main" %}" class="navbar-brand">Página Principal </a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-example-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{% url 'changeuser' %}"><span class="glyphicon glyphicon-user"></span> {{ user.username|capfirst }}</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock navbar %}
            <div class="container">
            {% block breadcrumbs %}
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
            {% endblock breadcrumbs %}
            </div>
            {% block mainBody %}
                {% block errorBlock %}{% endblock errorBlock %}
                <div class="container col-lg-offset-1 col-lg-10 col-xs-12" style="padding-top: 2%; padding-bottom: inherit">
                {# Utilizar el bloque padTop dejandolo en blanco para arreglar el padding superior del panel #}
                    <div class="panel panel-default" {% block padTop %}style="padding-top: 2%; padding-bottom: 2%"{% endblock padTop %}>
                        {% block panelCentral %}cosas{% endblock panelCentral %}
                        <div style="padding-bottom: 2%; padding-left: 2%">
                            {% block botonesBottom %}{% endblock botonesBottom %}
                        </div>
                    </div>
                </div>
            {% endblock mainBody %}
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <p class="navbar-text">ZARtm</p>
                    <a href="https://github.com/Tzesar/is2.git"> <span class="bearglyph bearglyph-octocat bearglyph-center"></span></a>
                    <p class="navbar-text navbar-right"><a href="{% url 'about' %}">About</a></p>
                    <p class="navbar-text navbar-right">URL of this page: {{ request.get_full_path }}</p>
                </div>
            </nav>

            <!-- JavaScripts -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
            {% block jsAdicional %}{% endblock jsAdicional %}
        {% endblock body %}
    </body>
</html>