{% extends 'base.html' %}
{% load staticfiles %}

    {% block title %}Página Principal{% endblock %}

    {% block panelCentral %}
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Proyectos</h1>
                </div>
                <div class="panel-body">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        {% if proyectos %}
                            <table class="table">
                                <tbody id="proyectosAsLider">
                                    {% for proyecto in proyectos %}
                                        <tr>
                                            <td>{{ proyecto.nombre }}</td>
                                            <td>{{ proyecto.fecha_creaion }}</td>
                                            <td>{{ proyecto.estado }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p><h4>No participa en ningún proyecto</h4></p>
                        {% endif %}
                        {# TODO: Listar proyectos creados/modificados recientemente #}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}