{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block title %}Modificar Tipo de Ítem{% endblock %}
    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Los datos ingresados son erróneos.
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}
    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">Tipo de Ítem: {{ itemtype.nombre }} </h1>
        </div>
        <div class="panel-body">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% form form using "formsLayouts/div.html" %}
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <a href="{% url 'administrarFases.views.changePhase' fase.id %}" class="btn btn-lg btn-warning" type="submit">Volver a Fase</a>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-lg btn-success" type="submit">Guardar cambios</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading" style="">
                        <div class="row">
                            <div class="col-sm-6" style="padding-top: 2%">
                                <span>Atributos</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="pull-right" data-toggle="tooltip" title="Agregar Atributo" id="tooltip">
                                    <a href="{% url 'administrarTipoItem.views.createAtribute' itemtype.id %}" class="text-success">
                                        <span class="glyphicon glyphicon-plus-sign" style="font-size: 2em"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        {% if atributos %}
                            {% for attrib in atributos %}
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="{% url 'administrarTipoItem.views.changeAtribute' attrib.id %}">
                                                {{ attrib.nombre }}</a>
                                        </div>
                                        <div class="col-sm-6">
                                            <span class="pull-right" style="padding-right: 5%">
                                                <a href="{% url 'administrarTipoItem.views.deleteAtribute' attrib.id %}">
                                                    <span class="glyphicon glyphicon-minus-sign"></span></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <a class="list-group-item list-group-item-warning disabled">El tipo de ítem no tiene atributos relacionados.</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-5 col-md-5 col-sm-5 visible-lg visible-md visible-sm">
                {# TODO Espacio utilizable despues de los campos requeridos, se puede mostrar cualquier informacion #}
            </div>
        </div>
    {% endblock %}>