{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block title %}Crear Atributo{% endblock %}
    {% if form.errors %}
        <div class="container-fluid">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Los datos ingresados son erróneos.
            </div>
        </div>
    {% endif %}

    {% block breadContent %}
        <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
        <li><a href="{% url 'administrarProyectos.views.workProject' project.id %}">{{ project.nombre }}</a></li>
        <li><a href="{% url 'administrarFases.views.changePhase' fase.id %}">{{ fase.nombre }}</a></li>
        <li><a href="{% url 'administrarFases.views.changePhase' itemtype.id %}">{{ itemtype.nombre }}</a></li>
        <li class="active">Nuevo Atributo</li>
    {% endblock breadContent %}

    {% block panelCentral %}
        {% block padTop %}{% endblock padTop %}
         <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">Tipo de Item: {{ itemtype.nombre }} - Nuevo Atributo</h1>
        </div>
        <div class="panel-body">
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-5">
                <form action="" class="form-signin" role="form" method="post">
                    {% csrf_token %}
                    {% form form using "formsLayouts/div.html" %}
                    <a href= "{% url 'administrarTipoItem.views.changeItemType' itemtype.id %}" class="btn btn-lg btn-warning btn-lg" role="button">Cancelar</a>
                    <button class="btn btn-lg btn-success" type="submit">Crear Atributo</button>
                </form>
            </div>
        </div>

    {% endblock panelCentral %}
