{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block title %}Crear Tipo de Ítem{% endblock %}
    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Los datos ingresados son erróneos.
                </div>
            </div>
        {% endif %}
        {% if messages %}
            <div class="container-fluid">
                <div class="alert {% if error == 1 %} alert-danger {% else %} alert-success {% endif %} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}

    {% block breadContent %}
        <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
        <li><a href="{% url 'administrarProyectos.views.workProject' project.id %}">{{ project.nombre }}</a></li>
        <li><a href="{% url 'administrarFases.views.changePhase' fase.id %}">{{ fase.nombre }}</a></li>
        <li class="active">Nuevo Tipo de Item</li>
    {% endblock breadContent %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">Crear Tipo de Item</h1>
        </div>
        <div class="panel-body">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <form action="" class="form-signin" role="form" method="post">
                    {% csrf_token %}
                    {% form form using "formsLayouts/div.html" %}
                    <a href= "{% url 'administrarFases.views.changePhase' fase.id %}" class="btn btn-md btn-warning" role="button">Volver</a>
                    <button class="btn btn-md btn-success" type="submit">Crear Tipo</button>
                    <a href= "{% url 'administrarTipoItem.views.itemTypeList' fase.id %}" class="btn btn-md btn-danger" role="button">Importar Tipo</a>
                </form>
            </div>
        </div>
    {% endblock %}