{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block title %}Completar Atributos{% endblock %}

    {% block errorBlock %}
        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.errors }}
                </div>
            </div>
        {% endif %}
    {% endblock errorBlock %}

    {% block breadContent %}
        <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
        <li><a href="{% url 'administrarProyectos.views.workProject' project.id %}">{{ project.nombre }}</a></li>
        <li><a href="#">{{ phase.nombre }}</a></li>
        <li class="active">Item: {{ item.nombre }}</li>
    {% endblock breadContent %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
         <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">Item: {{ item.nombre }}</h1>
        </div>
        <div class="panel-body">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <form action="" class="form-signin" role="form" method="post">
                    {% csrf_token %}
                    {{ attr.nombre }}
                    {% form form using "formsLayouts/div.html" %}
                    {% form form2 using "formsLayouts/div.html" %}
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            {# TODO: Reemplazar por workphase #}
                            <a href="{% url 'administrarProyectos.views.workProject' project.id %}" class="btn btn-lg btn-warning" type="submit">Volver al Proyecto</a>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-lg btn-success btn-lg" type="submit">Guardar cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock panelCentral %}>>