{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block title %}Fase: {{ fase.nombre }}{% endblock %}
    {% block errorBlock %}{% endblock errorBlock %}

    {% block breadContent %}
        <li><a href="{% url 'autenticacion.views.main' %}">Inicio</a></li>
        <li><a href="{% url 'administrarProyectos.views.workProject' proyecto.id %}">{{ proyecto.nombre|capfirst }}</a></li>
        <li><a href="{% url 'administrarFases.views.workphase' fase.id %}">Fase: {{ fase.nombre|capfirst }}</a></li>
        <li class="active">Ítem: {{ item.nombre|capfirst }}</li>
    {% endblock breadContent %}

    {% block padTop %}{% endblock padTop %}
    {% block panelCentral %}
        <div class="panel-heading">
            <h1 class="text-info" style="display: inline-block">
                Ítem: {{ item.nombre|capfirst }}
            </h1>
        </div>
        <div class="list-group-item-info" style="padding-left: 2%; padding-top: 1%; padding-bottom: 1%">
            <b>Descripción:</b> <i>{{ item.descripcion }}</i><br>
            <b>Tipo:</b> <i>{{ item.tipoitem.nombre|capfirst }}</i><br>
            <b>Estado:</b> <i> {{ item.get_estado_display }} </i><br>
            <b>Creado por:</b> <i>{{ item.usuario.username }}, {{ item.fecha_creacion }}</i><br>
            <b>Última modificación:</b> <i>{{ item.fecha_modificacion }}, por {{ item.usuario_modificacion.username }}</i>

        </div>
        <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="panel panel-warning" style="padding-bottom: 3%">
                            <div class="panel-heading">
                                DATOS DEL ITEM
                            </div>
                            <div class="panel-body">
                                {%  form formDatosItem using "formsLayouts/div.html" %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                ATRIBUTOS BASICOS
                            </div>
                            <div class="panel-body">
                                {%  form formAtributosBasicos using "formsLayouts/div.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if existen_formNumericos %}
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    ATRIBUTOS NUMERICOS
                                </div>
                                <div class="panel-body">
                                    {{ formNumericos.management_form }}
                                    {% for form in formNumericos %}
                                        {%  form form using "formsLayouts/div.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if existen_formSTR %}
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    CADENAS DE TEXTO CORTAS
                                </div>
                                <div class="panel-body">
                                    {{ formSTR.management_form }}
                                    {% for form in formSTR %}
                                        {%  form form using "formsLayouts/div.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% if existen_formTXT %}
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    TEXTO LARGO
                                </div>
                                <div class="panel-body">
                                    {{ formTXT.management_form }}
                                    {% for form in formTXT %}
                                        {%  form form using "formsLayouts/div.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% if existen_formIMG %}
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    IMÁGENES
                                </div>
                                <div class="panel-body">
                                    {{ formIMG.management_form }}
                                    {% for form in formIMG %}
                                        {%  form form using "formsLayouts/div.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if existen_formFile %}
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    ARCHIVOS EXTERNOS
                                </div>
                                <div class="panel-body">
                                    {{ formFile.management_form }}
                                    {% for form in formFile %}
                                        {%  form form using "formsLayouts/div.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="panel-footer">
                <a href="{% url 'administrarFases.views.workphase' fase.id %}" class="btn btn-md btn-warning">Cancelar</a>
                <button class="btn btn-md btn-success" type="submit">Guardar cambios</button>
            </div>
        </form>

    {% endblock panelCentral %}